.Footer {
    background: #54616c;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-left: 1.5rem;
        float: left;
        a {
            color: white;
        }
    }
}