.Testimonial {
    background: url(../../assets/images/banner-test-3.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    p {color: white;}
    .h2 {color: white;font-weight: bold;}
}