.Social {
    h2 {
        margin-bottom: 3rem;
    }
    .col-md-4 {text-align: center;}
    .container {
        padding-top: 3rem;
        padding-bottom: 3rem;
        border-top: 1px solid #e5e5e5;
    }
}